.ProfilePageHeader {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.btnsWrapper {
  .editBtn {
    margin-left: auto;
    margin-right: 10px;
  }

  .combinedBtn {
    display: flex;
    margin-left: auto;

    .cancelBtn {
      margin-right: 10px;
    }

    .saveBtn {
      margin-right: 10px;
    }
  }
}