.app.dark {
    --bg-color: #020261;
    --inverted-bg-color: #b1b1b1;
    --primary-color: green;
    --secondary-color: #07ff29;
    --inverted-primary-color: #00205a;
    --inverted-secondary-color: #0004dc;
}
