.app.dark {
  --bg-color: #020261;
  --inverted-bg-color: #b1b1b1;

  --primary-color: green;
  --secondary-color: #07ff29;
  --inverted-primary-color: #00205a;
  --inverted-secondary-color: #0004dc;

  ////Switcher color scheme
  //--switch-bg-inverted: #F5F3F6;
  //--switch-bg: #2D2C35;
  //--switch-circle-bg-inverted: #FFD371;
  //--switch-circle-bg: #7190FF;
  //--icon-sun-inverted: #997F44;
  //--icon-sun: #77757E;
  //--icon-moon-inverted: #B1B0B5;
  //--icon-moon: #DCE3FF;
  //--switch-circle-pos: 2.15rem;
}
