.app_dark_theme {
	--bg-color: #020261;
	--inverted-bg-color: #b1b1b1;
	--primary-color: #07ff29;
	--secondary-color: green;
	--inverted-primary-color: #00205a;
	--inverted-secondary-color: #0004dc;
}
