.app_green_theme {
  --bg-color: #CDDFA0;
  --inverted-bg-color: #49706B;
  --primary-color: #5f96a9;
  --secondary-color: #78586f;
  --inverted-primary-color: #ecebbd;
  --inverted-secondary-color: #c4f1e7;

//SKELETON
  --skeleton-color: #49706B;
  --skeleton-shadow: rgba(0, 0, 0, 0.2);

  // code
  --code-bg: #d1d1c4;

  // card
  --card-bg: #c9cba3;

  //switcher
  --switcher-bg: #78586f
}


