.app {
    --bg-color: #b1b1b1;
    --inverted-bg-color: #020261;


    --primary-color: #00205a;
    --secondary-color: #0004dc;
    --inverted-primary-color: green;
    --inverted-secondary-color: #07ff29;

    ////Switcher color scheme
    //--switch-bg: #F5F3F6;
    //--switch-bg-inverted: #2D2C35;
    //--switch-circle-bg: #FFD371;
    //--switch-circle-bg-inverted: #7190FF;
    //--icon-sun: #997F44;
    //--icon-sun-inverted: #77757E;
    //--icon-moon: #B1B0B5;
    //--icon-moon-inverted: #DCE3FF;
    //--switch-circle-pos: 0.15rem;
}