.sortWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//.filter {
//  display: block;
//}

.search {
  margin-top: 16px;
}

.tabs {
  margin-top: 5px;
  margin-bottom: 5px;
}

.createBtn {
  cursor: pointer;
}

