.Card {
  padding: 15px;
  border-radius: 12px;
}

.normal {
  background: var(--card-bg);
}

.outlined {
  background: var(--card-bg);
  border: 1px solid var(--primary-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5)
}
